:root {
  --color-second: #939DA5;
  --color-background: #eff1dc;
  --color-black: #000000;
  --background-main: #FFFFFF;
  --background-blue: rgba(0, 185, 227, 0.05);
  --linear-gradient-blue-red:linear-gradient(90.00deg, rgb(115, 73, 158),rgb(248, 69, 96));
}