.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;

  &_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: clamp(2rem, 6vw, 4rem);
    font-weight: 700;
    color: #a2a057
  }
}